@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Regular.woff2') format('woff2'),
        url('fonts/Panton-Regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Bold.woff2') format('woff2'),
        url('fonts/Panton-Bold.woff') format('woff');
    font-weight:bold;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-BoldItalic.woff2') format('woff2'),
        url('fonts/Panton-BoldItalic.woff') format('woff');
    font-weight:bold;
    font-style:italic;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-Light.woff2') format('woff2'),
        url('fonts/Panton-Light.woff') format('woff');
    font-weight:300;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-LightItalic.woff2') format('woff2'),
        url('fonts/Panton-LightItalic.woff') format('woff');
    font-weight:300;
    font-style:italic;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlack.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlack.woff') format('woff');
    font-weight:900;
    font-style:normal;
}
@font-face {
    font-family:'Panton';
    src:url('fonts/Panton-ExtraBlackItalic.woff2') format('woff2'),
        url('fonts/Panton-ExtraBlackItalic.woff') format('woff');
    font-weight:900;
    font-style:italic;
}
body {
    font-family:'Panton';
    font-size:14px;
    color:#555;
}
body.in_popup {
    padding:15px;
}
::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius:10px;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgba(136, 136, 136, 0.80);
}
::-webkit-scrollbar-thumb:window-inactive {
    background:rgba(102, 102, 102, 0.40);
}
ul, ul ul {
    margin-top:0px;
    margin-bottom:0px;
}
ul ul li {
    list-style-type:square;
}
a:link, a:visited, a:active {
    color:#1F3464;
    text-decoration:none;
}
a:hover {
    color:#1F3464;
    text-decoration:none;
}
a:focus {
    outline:none;
}
p {
    margin:20px 0 !important;
}
/* Ligas */
a.doc:before, a.xls:before, a.pdf:before, a.pdf_bajar:before, a.zip:before, a.img:before, a.txt:before, a.liga:before {
    font-family:'yucatan';
    padding-right:5px;
    font-size:20px;
    vertical-align:middle;
    font-weight:normal;
}
a.blank:before, a.descargar:before {
    font-family:'yucatan';
    padding-right:5px;
    font-size:16px;
    vertical-align:baseline;
    font-weight:normal;
}
a.doc:link, a.xls:link, a.pdf:link, a.pdf_bajar:link, a.zip:link, a.img:link, a.txt:link, a.liga:link, a.blank:link, a.descargar:link,
a.doc:active, a.xls:active, a.pdf:active, a.pdf_bajar:active, a.zip:active, a.img:active, a.txt:active, a.liga:active, a.blank:active, a.descargar:active,
a.doc:visited, a.xls:visited, a.pdf:visited, a.pdf_bajar:visited, a.zip:visited, a.img:visited, a.txt:visited, a.liga:visited, a.blank:visited, a.descargar:visited,
a.doc:hover, a.xls:hover, a.pdf:hover, a.pdf_bajar:hover, a.zip:hover, a.img:hover, a.txt:hover, a.liga:hover, a.blank:hover, a.descargar:hover {
    text-decoration:none;
}
.doc:before {
    color:#0650A1;
    content:"\e68f";
}
.xls:before {
    color:#0A0;
    content:"\e690";
}
.pdf:before {
    color:#DA2713;
	content:"\e6ab";
}
.pdf_bajar:before {
	color:#DA2713;
	content:"\e669";
}
.zip:before {
    color:#FF9408;
    content:"\e63c";
}
.img:before {
    color:#FF9408;
    content:"\e68c";
}
.txt:before {
    color:#FF9408;
    content:"\e908";
}
.liga:before {
    color:#0650A1;
    content:"\e693";
}
a.blank:before {
    color:#555;
    content:"\e6ad";
}
a.descargar:before {
    color:#555;
    content:"\e696";
}
/* Botones */
.btn-yuc, a.btn-yuc:link, a.btn-yuc:visited {
	color:#FFF;
    background-color:#001d7e;
    border-color:#001d7e;
    padding:3px 6px;
}
.btn-yuc.active, .btn-yuc:active {
    -webkit-box-shadow:none;
    box-shadow:none;
}
.btn-yuc.disabled:hover, .btn-yuc.disabled:focus {
    background:#AAA;
    border-color:#AAA;
}
.btn-yuc:hover, a.btn-yuc:hover,
.btn-yuc:focus, a.btn-yuc:focus,
.btn-yuc:active, a.btn-yuc:active,
.btn-yuc.active, a.btn-yuc.active {
    color:#FFF;
    background-color:#001d7e;
    border-color:#001d7e;
}
.btn-yuc .ico {
    vertical-align:baseline;
}
.pagination li a {
    margin:0 1px;
    border:1px solid #EEE;
    color:#999;
}
.pagination li a:hover {
    border:1px solid #EEE;
    color:#999;
    background-color:#EEE;
}
.pagination .active span, .pagination .active span:hover {
    margin:0 1px;
    border:1px solid #EEE;
    color:#999;
    background-color:#EEE;
    font-weight:bold;
}
.pagination .ant a, .pagination .ant a:hover, .pagination .sig a, .pagination .sig a:hover {
    background-color:transparent;
    border-color:transparent;
    padding:2px 0;
}
.pagination a .ico {
    color:#555;
}
/* Iconos */
.ico {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    text-decoration:none;
    font-family:'yucatan';
    font-weight:normal;
    -webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
span.vin {
    font-size:10px;
}
.ico16 {
    font-size:16px;
    line-height:normal;
}
.ico20 {
    font-size:20px;
}
.ico24 {
    font-size:24px;
}
.ico32 {
    font-size:32px;
}
.ico_overlay {
    background-color:#111;
    opacity:0.7;
    filter:alpha(opacity=70);
    color:#FFF;
    padding:10px;
    line-height:24px;
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
.ico_redondo {
    -webkit-border-radius:80%;
    -moz-border-radius:80%;
    border-radius:80%;
    background:#AAA;
    padding:5px;
    color:#FFF;
}
.ico_cuadrado {
    padding:0 5px;
    margin:3px 5px;
}
.funcionario {
    font-size:60px;
    line-height:60px;
    padding:5px;
    border:1px solid #DDD;
    background-color:#FFF;
    color:#DDD;
}
/* *** */
.titulo_pagina {
    font-size:18px;
    font-weight:bold;
    color:#999;
    text-decoration:none;
    margin-bottom:20px;
    padding-bottom:5px;
    background:transparent url(../img/div_.png) left bottom repeat-x;
}
.in_popup .titulo_pagina {
    padding-right:30px;
}
.titulo {
    font-size:18px;
    font-weight:bold;
    color:#999;
    text-decoration:none;
    line-height:24px;
}
.no-display {
    display:none;
}
.titulo.small {
    font-size:16px;
}
.subtitulo {
    font-size:18px;
    font-weight:bold;
    color:#1F3464;
    border-bottom:1px solid #DDD;
    margin-bottom:10px;
}
.lighter {
    font-weight:300 !important;
}
.bolder {
    font-weight:900 !important;
}
.verde, a.verde {
    color:#1F3464;
    text-decoration:none;
}
.naranja, a.naranja {
    color:#0062AE;
    text-decoration:none;
}
.color_liga {
    color:#1F3464;
}
.gris, a.gris {
    color:#555;
    text-decoration:none;
}
.grisA, a.grisA {
    color:#AAA;
    text-decoration:none;
}
.rojo, a.rojo {
    color:#F00;
    text-decoration:none;
}
.blanco, a.blanco {
    color:#FFF;
    text-decoration:none;
}
a.color_facebook:link, a.color_facebook:active, a.color_facebook:visited {
    color:#3B5997;
}
a.color_twitter:link, a.color_twitter:active, a.color_twitter:visited {
    color:#41B7D8;
}
a.color_google:link, a.color_google:active, a.color_google:visited {
    color:#DA2713;
}
a.color_whatsapp:link, a.color_whatsapp:active, a.color_whatsapp:visited {
    color:#5cbe4a;
}
a.color_default:link, a.color_default:active, a.color_default:visited {
    color:#999;
}
a.color_facebook:hover, a.color_twitter:hover, a.color_google:hover, a.color_whatsapp:hover, a.color_default:hover {
    color:#CCC;
}
.fondo_s0 {
    background-color:#999;
}
.fondo_s1 {
	background-color:#0093DD;
}
.fondo_s2 {
    background-color:#E77817;
}
.fondo_s3 {
    background-color:#DA251D;
}
.fondo_s4 {
	 background-color:#00923F;
}
.fondo_s5 {
	background-color:#FFC400;
}
.fondo_s6 {
    background-color:#A0CB42;
}
.fondo_rojo {
    background-color:#DA251D;
}
.fondo_verde {
    background-color:#00923F;
}
.fondo_amarillo {
    background-color:#FFC400;
}
.fondo_naranja {
    background-color:#E77817 !important;
}
.fondo_morado {
    background-color:#974578;
}
.fondo_azul {
    background-color:#0093DD;
}
.fondo_gris {
    background-color:#999;
}
.fondo_verde2 {
    background-color:#6EB708;
}
.fondo_rosado {
    background-color:#FA3A61;
}
.fondo_azul2 {
    background-color:#0f51d6;
}
.color_s0 {
    color:#1F3464;
}
.color_s1 {
	color:#0093DD;
}
.color_s2 {
    color:#E77817;
}
.color_s3 {
    color:#DA251D;
}
.color_s4 {
	color:#00923F;
}
.color_s5 {
	color:#FFC400;
}
.color_s6 {
    color:#A0CB42;
}
.color_rojo {
    color:#DA251D;
}
.color_verde {
    color:#00923F;
}
.color_amarillo {
    color:#FFC400;
}
.color_naranja {
    color:#E77817;
}
.color_morado {
    color:#974578;
}
.color_azul {
    color:#0093DD;
}
.pie_foto {
    background-color:#EEE;
    text-align:center;
    padding:5px;
}
.borde {
    border:1px solid #DDD;
}
.seccion_pagina {
    padding:15px;
    text-align:justify;
    background-color:#F9F9F9;
    margin:15px auto;
}
.sombra {
    -moz-box-shadow:0 0 10px #CCC;
    -webkit-box-shadow:0 0 10px #CCC;
    box-shadow:0 0 10px #CCC;
    filter:progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=0),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=270);
}
.gradiente {
    background:#EEE;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#DDD));
    background:-moz-linear-gradient(top, #FFF 0%, #DDD 100%);
    background:-o-linear-gradient(top, #FFF 0%, #DDD 100%);
    background:-ms-linear-gradient(top, #FFF 0%, #DDD 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF', endColorstr='#DDD', GradientType=0);
}
.gradiente a {
    color:#555;
    text-decoration:none;
}
.clear {
    clear:both;
}
.mxw240 {
    max-width:240px;
}
.mxw380 {
    max-width:380px;
}
.mxw480 {
    max-width:480px;
}
.mxw760 {
    max-width:760px;
}
.mxw940 {
    max-width:940px;
}
.height-10 {
    height:10px;
}
.height-20 {
    height:20px;
}
.height-50 {
    height:50px;
}
.padding-20 {
    padding:20px;
}
.list-unstyled {
    padding-left:inherit;
}
div.borde_inf {
    border-bottom:1px solid #DDD;
}
ul.borde_inf {
    list-style:none;
    padding:0;
    margin:0;
}
ul.borde_inf > li {
    border-bottom:1px solid #DDD;
    padding:3px 0;
    line-height:24px;
}
ul.borde_inf li.first {
    border-top:1px solid #DDD;
}
.tn {
    border:1px solid #DDD;
    padding:3px;
    background-color:#FFF;
}
img.fixed-width {
    width:100% !important;
    height:auto !important;
}
img.fixed-height {
    height:100% !important;
    width:auto !important;
}
img.fixed-width, img.fixed-height {
    position:absolute;
    top:50%;
    left:50%;
    margin-right:-50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
.ie img.fixed-width, .ie img.fixed-height {
    top:0;
    left:0;
}
img.horizontal {
    width:100% !important;
    height:auto !important;
    display:block;
}
img.vertical {
    height:100% !important;
    width:auto !important;
    display:block;
}
.img-responsive {
    display:initial;
}
.thumbnail {
    padding:0;
    border:none;
    background-color:transparent;
}
.caption {
    line-height:1em !important;
}
.caption a.desc {
    font-weight:bold;
    color:#999;
}
.pag.col-sm-3:nth-child(4n+1) {
    clear:both;
}
/* Formularios */
#mensaje {
    color:#F00;
}
.form-control.error {
    border-color:#a94442;
}
/* Tablas */
.center-table {
    margin-left:auto;
    margin-right:auto;
}
.table {
    margin-bottom:0px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:0px;
    vertical-align:middle;
}
.table-100 {
    width:100%;
    max-width:100%;
}
table.table-styled thead tr {
    background-color:#EEE;
    border-bottom:2px solid #DDD;
}
table.table-styled tr.head {
    background-color:#EEE;
}
table.table-styled tr.section {
    background-color:#F5F5F5;
}
.table-styled tr {
    padding:0;
}
.table-styled td, .table-styled th {
    padding:5px;
    vertical-align:middle;
}
.table-styled tr.top td, .table-styled td.top {
    vertical-align:top;
}
.table-styled .column-right {
    text-align:right;
}
.table-styled .column-center {
    text-align:center;
}
.table-border td {
    border-bottom:1px solid #EEE;
}
/* PROCIVY */
.procivy_azul {
    color:#39F;
}
.procivy_verde {
    color:#390;
}
.procivy_amarilla, .peligro_bajo {
    color:#FC0;
}
.procivy_naranja, .peligro_medio {
    color:#F90;
}
.procivy_roja, .peligro_alto {
    color:#F00;
}
.procivy_sin {
    color:#AAA;
}
.alerta_azul {
    background:#39F;
}
.alerta_verde {
    background:#390;
}
.alerta_amarilla, .peligro_bajo {
    background:#FC0;
}
.alerta_naranja, .peligro_medio {
    background:#F90;
}
.alerta_roja, .peligro_alto {
    background:#F00;
}
.alerta_sin {
    background:#AAA;
}
.alerta_azul, .alerta_verde, .alerta_amarilla, .alerta_naranja, .alerta_roja, .alerta_sin, .peligro_bajo, .peligro_medio, .peligro_alto {
    color:#FFF;
    font-weight:bold;
    margin:0 auto;
}
.alerta_azul a, .alerta_verde a, .alerta_amarilla a, .alerta_naranja a, .alerta_roja a, .alerta_sin a, .peligro_bajo a, .peligro_medio a, .peligro_alto a {
    color:#FFF;
    text-decoration:none;
}
.alerta {
    display:table;
    text-align:left;
}
.alerta .ico {
    color:rgba(255,255,255,0.6);
    padding:0 5px;
}
.alerta .desc {
    text-align:center !important;
    display:table-cell;
    vertical-align:middle;
    line-height:1.2em;
    padding:0 5px;
    min-width:200px;
}
a.fondo:link, a.fondo:visited, a.fondo:active {
    color:#555;
    text-decoration:none;
    min-width:24px;
    line-height:24px;
    text-align:center;
    display:inline-block;
    padding:0 3px;
}
a.fondo:hover {
    background:#DDD;
    color:#555;
}

/* Agenda */
.agenda {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    width:56px;
    height:56px;
    padding:0;
    background:#EEE;
    text-align:center;
    margin-bottom:20px;
}
.agenda_blanco {
    background:#FFF;
}
.agenda .mes {
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius-topleft:5px;
    -moz-border-radius-topright:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#AAA;
    color:#FFF;
    font-size:13px;
    font-weight:bold;
    height:18px;
    line-height:18px;
}
.agenda .dia {
    font-size:18px;
    font-weight:bold;
    color:#555;
    height:20px;
    line-height:24px;
}
.agenda .semana {
    height:16px;
    line-height:16px;
    font-weight:normal;
}
/* Sala de prensa, Blog y notas de PROCIVY (300x200) */
.not {
    width:330px;
    margin:15px auto 15px auto;
    position:relative;
}
.foto_not {
    width:330px;
    height:200px;
    position:relative;
    overflow:hidden;
    border:1px solid #CCC;
}
.encabezado_not {
    background:rgba(0,0,0,0);
    background:-moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background:-webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
    background:-webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background:-o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background:-ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    background:linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    position:absolute;
    width:100%;
    min-height:42px;
    bottom:0;
    left:0;
    color:#FFF;
    text-align:center;
    padding:30px 5px 5px 5px;
    line-height:16px;
}
.encabezado_not a {
    color:#FFF;
    text-decoration:none;
}
.encabezado_not a:hover {
    text-decoration:underline;
}
.texto_not {
    width:300px;
    margin:0 auto 10px auto;
    text-align:justify;
    line-height:16px;
    font-size:13px;
    height:120px;
    overflow:hidden;
}
.fecha_not {
    font-weight:normal;
    font-style:italic;
}
.autor_not {
    font-weight:bold;
    color:#999;
}
.flex-sector {
    margin:0;
    padding:5px;
    width:auto;
    position:absolute;
    top:0;
    left:0;
    font-size:16px;
    color:#FFF;
    font-weight:bold;
    opacity:0.8;
    filter:alpha(opacity=80);
}
.esp {
	margin-right:-32px !important;
	margin-left:-32px !important;
}
/* Sala de prensa (200x133) */
.not2 {
    width:200px;
    min-height:220px;
    margin:10px auto;
}
.foto_not2 {
    width:200px;
    height:133px;
    position:relative;
    overflow:hidden;
    border:1px solid #CCC;
}
.texto_not2 {
    text-align:center;
    line-height:16px;
}
.titulo_not2 a {
    text-decoration:none;
    font-weight:bold;
    color:#999;
}
.titulo_not2 a:hover {
    color:#999;
    text-decoration:underline;
}
.discursos {
    min-height:300px;
}
/* Sala de prensa - lista */
ul.noticias {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
}
ul.noticias li {
    height:70px;
    border-bottom:1px solid #EEE;
    line-height:16px;
    display:table;
    padding:10px 0;
}
ul.noticias span {
    display:table-cell;
    vertical-align:top;
    margin-right:10px;
}
ul.noticias li div {
    display:table-cell;
    vertical-align:top;
    width:100%;
}
/* Sala de prensa - notas relacionadas */
.not_rel {
    display:inline-block;
    margin:10px;
    width:120px;
}
.foto_rel {
    width:120px;
    height:90px;
    position:relative;
    overflow:hidden;
    border:1px solid #CCC;
}
.texto_rel {
    text-align:center;
    line-height:16px;
}
.titulo_rel {
    height:50px;
    overflow:hidden;
}
.titulo_rel a {
    text-decoration:none;
    font-weight:bold;
    font-size:13px;
    color:#999;
}
.titulo_rel a:hover {
    color:#999;
    text-decoration:underline;
}
/* Encabezado */
.fondo_superior {
    background-color:#DDD;
    height:32px;
}
.superior {
    max-width:1050px;
    line-height:24px;
}
#superior > li {
    padding:0 3px;
    display:inline-block;
    vertical-align:text-top;
}
#superior > li a {
    color:#666;
}
#superior > li:hover, #superior > li.open {
    background-color:#FFF;
}
#superior .dropdown-menu {
    margin:0;
    border:none;
    border-radius:0;
}
#superior .ico {
    vertical-align:baseline;
}
#superior ul li {
    list-style:none;
}
#superior ul li a {
    padding:3px 10px;
}
#fondo_cabezal {
    background-color:#EEE;
}
#menu_toggle {
    display:none;
    position:relative;
    float:right;
    margin-top:40px;
    margin-right:15px;
    color:#555;
}
#menu_toggle .ico {
    cursor:pointer;
}
#menu_toggle:hover .ico {
    color:#555;
}
.cabezal {
    max-width:1050px;
}
.cabezal .logo {
    margin:15px 0;
    float:left;
}
.btn_buscar {
    width:200px;
    float:right;
    margin-top:40px;
}
.btn_buscar input {
    border-radius:30px 0 0 30px;
    height:28px !important;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.btn_buscar input:focus {
    border-color:#CCC;
    outline:0;
    -webkit-box-shadow:none;
    box-shadow:none;
}
.btn_buscar .btn {
    border-radius:30px !important;
    top:-2px;
    left:-10px;
    padding:4px 8px;
    background-color:#EEE;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn_buscar .btn:hover, .btn_buscar .btn:focus, .btn_buscar .btn:active {
    background-color:#EEE;
    border-color:#CCC;
    outline:none;
    -webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
}
.btn_buscar .ico {
    color:#999;
}
.fondo_menu {
    background:transparent url(../img/fondo_menu.jpg);
}
.borde_menu {
    background:transparent url(../img/div_.png);
    background-size:cover;
    width:100%;
    height:1px;
    display:none;
}
#menu {
    text-align:center;
    line-height:0;
    font-size:0;
}
#menu > ul {
    padding-left:0;
    margin-left:-5px;
    margin-top:0;
    margin-bottom:0;
}
#menu li, #menu li a {
    font-size:14px;
    color:#555;
    display:inline-block;
    line-height:30px;
}
#menu > ul > li {
    border-right:1px solid #CCC;
}
#menu > ul > li > a {
    text-transform:uppercase;
    padding-left:10px;
    padding-right:10px;
}
#menu > ul > li:hover, #menu > ul > li:focus, #menu > ul > li.open {
    background-color:#F5F5F5;
}
#menu li.m0 {
    display:none;
}
#menu li.m1 {
    border-top:3px solid #CCC;
    border-left:1px solid #CCC;
}
#menu li.m2 {
    border-top:3px solid #CCC;
}
#menu li.m3 {
    border-top:3px solid #CCC;
}
#menu li.m4 {
    border-top:3px solid #CCC;
}
#menu li.m5 {
    border-top:3px solid #CCC;
}
#menu li.m6 {
    border-top:3px solid #CCC;
}
#menu .submenu {
    padding:10px;
    margin:0;
    background-color:#F5F5F5;
    border:none;
    border-top-left-radius:0;
    border-top-right-radius:0;
    line-height:0;
}
#menu .lista {
    display:table-cell;
    vertical-align:top;
}
#menu .lista ul {
    padding:0;
    margin:0;
}
#menu .lista li, #menu .lista li a {
    width:100%;
    line-height:20px;
    white-space:nowrap;
}
#menu .lista li a {
    padding:3px 5px;
}
#menu .lista li a:hover, #menu .lista li a:focus {
    background-color:#EEE;
}
#menu .lista li.index a {
    background-color:#EEE;
    font-weight:bold;
    padding:5px;
    margin-top:15px;
}
#menu .foto_menu {
    display:table-cell;
    vertical-align:top;
    width:200px;
    position:relative;
}
#menu .l .foto_menu {
    padding-left:10px;
}
#menu .r .foto_menu {
    padding-right:10px;
}
#menu .dropdown-backdrop {
    position:initial !important;
}
.foto_menu div {
    position:absolute;
    top:170px;
    opacity:0.80;
    filter:alpha(opacity=80);
    text-align:center;
    font-weight:bold;
    color:#FFF;
    width:200px;
}
#menu li.m1 .foto_menu div {
    background-color:#AAA;
}
#menu li.m2 .foto_menu div {
    background-color:#AAA;
}
#menu li.m3 .foto_menu div {
    background-color:#AAA;
}
#menu li.m4 .foto_menu div {
    background-color:#AAA;
}
#menu li.m6 .foto_menu div {
    background-color:#AAA;
}
#menu.left {
    text-align:left;
    display:none;
}
#menu.left > ul {
    padding:10px 0 10px 5px;
    margin-left:0;
}
#menu.left > ul > li {
    display:block;
    border:none;
}
#menu.left > ul > li > a {
    padding:0 0 0 15px;
    line-height:initial;
    font-weight:bold;
}
#menu.left li.m0 > a {
    text-transform:none;
    font-weight:normal;
    border-left:3px solid #CCC;
}
#menu.left li.m0 > a .ico {
    vertical-align:baseline;
}
#menu.left li.m1 > a {
    border-left:3px solid #DA251D;
}
#menu.left li.m2 > a {
    border-left:3px solid #00923F;
}
#menu.left li.m3 > a {
    border-left:3px solid #974578;
}
#menu.left li.m4 > a {
    border-left:3px solid #E77817;
}
#menu.left li.m5 > a {
    border-left:3px solid #FFF500;
}
#menu.left li.m6 > a {
    border-left:3px solid #0093DD;
}
#menu.left > ul > li:hover, #menu.left > ul > li:focus, #menu.left > ul > li.open {
    background-color:transparent;
}
#menu.left li a:hover, #menu.left li a.selected {
    background:none;
}
#menu .dropdown {
    z-index:900;
}
#menu.left .dropdown-toggle:after {
    font-family:'yucatan';
    padding-left:5px;
    font-size:14px;
    vertical-align:middle;
    content:"\e67e";
}
#menu.left .open .dropdown-toggle:after {
    content:"\e6ca";
}
#menu.left .open .submenu {
    position:static;
    width:auto;
    padding:0 0 0 20px;
    float:none;
    background-color:transparent;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#menu.left .lista li a, #menu.left .lista li.index a {
    padding:0;
    margin-top:0;
    font-weight:normal;
}
#menu.left .foto_menu {
    display:none;
}
/* Pie */
#banner_inf {
    background-color:#EEE;
    position:relative;
    width:100%;
    height:120px;
    overflow:hidden;
    text-align:center;
    display:table;
}
#banner_inf .ant_banner, #banner_inf .sig_banner {
    width:30px;
    display:table-cell;
    vertical-align:middle;
}
#banner_inf .ant_banner .ico, #banner_inf .sig_banner .ico {
    color:#555;
}
#banner_inf .banners_inner {
    overflow:hidden;
    margin:0 auto;
    width:920px;
}
#banner_inf ul {
    position:relative;
    left:0;
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:9999px;
    white-space:nowrap;
}
#banner_inf ul li {
    float:left;
    width:200px;
    padding:0px;
    margin:0 15px;
}
#banner_inf .b4, #banner_inf .b3, #banner_inf .b2, #banner_inf .b1, #banner_inf .b4 ul, #banner_inf .b3 ul, #banner_inf .b2 ul, #banner_inf .b1 ul {
    width:100%;
}
#banner_inf .b4 li {
    margin:0;
    width:25%;
}
#banner_inf .b3 li {
    margin:0;
    width:33.33333%;
}
#banner_inf .b2 li {
    margin:0;
    width:50%;
}
#banner_inf .b1 li {
    margin:0;
    width:100%;
}
#banner_inf .imagen {
    width:200px;
    height:100px;
    margin:10px auto;
}
#banner_inf .imagen img {
	width:100%;
	height:100%;
}
#irArriba {
    display:none;
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:3000;
}
#irArriba .flecha {
    width:50px;
    height:50px;
    display:block;
    font-size:30px;
    color:#FFF;
    background:rgba(0,0,0,0.3);
    font-weight:bold;
    padding:5px;
    border-radius:50px;
}
#emergencias {
    padding:20px 15px;
    width:100%;
    display:table;
}
#emergencias .cell {
    display:table-cell;
    width:20%;
}
#emergencias .icono {
    display:inline-block;
    padding:0 5px 0 0;
    line-height:32px;
}
#emergencias .icono .ico {
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    background-color:#BBB;
    padding:5px;
}
#emergencias .texto {
    display:inline-block;
    vertical-align:middle;
    line-height:14px;
}
.shadow {
    -webkit-box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
    box-shadow:0 0 10px 3px rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=0),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=90),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=180),
           progid:DXImageTransform.Microsoft.Shadow(Color=#DDD, Strength=3, Direction=270);
}
#footer .grande {
    font-weight:bold;
    font-size:20px;
    line-height:20px;
}
#footer .center-block {
    max-width:1040px;
}
#footer a {
    color:#CCC;
}
#footer a:hover, #footer a:focus, #footer a .ico {
    color:#FFF;
}
#pie {
    color:#FFF;
    background-color:#666;
}
#pie .center-block {
    display:table;
    width:100%;
}
#pie .logo {
    width:50%;
    vertical-align:top;
    display:table-cell;
}
#pie .logo img {
    vertical-align:top;
    margin:15px;
}
#pie .dir {
    display:inline-block;
    margin:15px 0;
    line-height:16px;
}
#pie .ligas {
    width:30%;
    vertical-align:top;
    display:table-cell;
}
#pie .ligas > ul {
    margin:15px;
}
#pie .fondo_siguenos {
    background-color:#888;
    width:20%;
    vertical-align:top;
    display:table-cell;
}
#pie .siguenos {
    padding:15px;
}
#pie .siguenos ul {
    padding-left:0;
    list-style:none;
}
#pie .siguenos li {
    padding-top:5px;
}
#mapa_sitio {
    color:#FFF;
    padding:10px 0 15px 0;
    background-color:#555;
}
#mapa_toggle {
    font-size:16px;
    font-weight:bold;
    color:#FFF !important;
    margin-left:15px;
}
#mapa_sitio #mapa_toggle:before {
    font-family:'yucatan';
    padding-right:5px;
    font-size:14px;
    vertical-align:middle;
    content:"\e67e";
}
#mapa_sitio #mapa_toggle.open:before {
    content:"\e6ca";
}
#inferior ul {
    margin:0;
    padding:0;
}
#inferior ul li {
    list-style:none;
    line-height:16px;
}
#inferior .lista > li {
    padding-top:15px;
}
#inferior .lista > li > a {
    font-size:16px;
    font-weight:bold;
    line-height:initial;
}
#inferior .lista ul li:before {
    font-family:'yucatan';
    content:"\e6ac";
    color:#FFF;
    margin-right:10px;
}
#sm_footer {
    display:none;
    background-color:#555;
    color:#FFF;
    padding:15px;
    line-height:16px;
}
#sm_footer .wrap {
    display:inline-block;
    margin-left:5px;
}
#footer_toggle {
    display:none;
    float:right;
    color:#FFF;
}
#footer_toggle .ico {
    cursor:pointer;
}
#footer_toggle:hover .ico {
    color:#FFF;
}
/* Cuerpo */
#fondo_pagina {
    background:transparent url(../img/fondo_pagina.jpg) top repeat-x;
}
#pagina {
    max-width:1160px;
    padding-top:40px;
}
#cuerpo {
    min-height:600px;
}
.in_popup #cuerpo {
    min-height:0;
}
.full-width {
    width:100% !important;
}
.share {
    text-align:right;
    margin-bottom:10px;
}
.share .texto {
    display:inline;
}
select.auto {
    width:auto !important;
    display:inline-block;
}
/* Derecha */
.menu_lateral {
    margin-bottom:20px;
    position:relative;
}
.menu_sombra {
    position:relative;
    margin-bottom:0;
}
.menu_sombra:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 30px rgba(0,0,0,0.8);
    box-shadow:0 0 30px rgba(0,0,0,0.8);
    bottom:3px;
    left:5%;
    width:90%;
    height:20px;
    -moz-border-radius:100%;
    border-radius:100%;
}
.menu_lateral.top {
    margin-top:40px;
}
.menu_lateral .text {
    display:table-cell;
    vertical-align:middle;
    line-height:1em;
    text-align:left;
    padding:3px 5px;
}
.fondo_cinta {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    width:50px;
}
.cinta {
    width:45px;
    height:60px;
    background:transparent url(../img/cinta.png);
    position:absolute;
    top:0;
    left:0;
    z-index:500;
}
.menu_header {
    width:100%;
    height:40px;
    background:#DDD;
    display:table;
    margin-bottom:1px;
    color:#555;
    font-weight:bold;
}
.menu_title {
    color:#555;
    background:#DDD;
    text-align:center;
    font-weight:bold;
    padding:5px;
    margin-bottom:1px;
}
.menu_item {
    position:relative;
    display:block;
    color:#555;
    background:#EEE;
}
.menu_item .tabla {
    color:#555;
    text-decoration:none;
    width:100%;
    display:table;
}
.menu_item a.tabla:hover, .menu_item a.selected {
    background:#E5E5E5;
    text-decoration:none;
}
.menu_item > .tabla > .ico, .cinta .ico {
    display:table-cell;
    vertical-align:middle;
    padding:5px;
    line-height:normal !important;
    font-weight:normal;
}
.menu_item .image {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    max-width:50px;
}
.menu_item .text {
    width:100%;
}
.menu_item .thumb {
    position:relative;
    width:80px;
    height:60px;
    overflow:hidden;
    margin:5px;
}
.menu_footer {
    padding:5px;
    color:#555;
    background:#E5E5E5;
    text-align:center;
}
.menu_footer a {
    text-decoration:none;
    color:#555;
}
.menu_item + .menu_item, .menu_item + .menu_footer {
    border-top:1px solid #FFF;
}
.menu_body {
    color:#555;
    padding:0 15px;
    background:#F5F5F5;
    text-align:justify;
    margin-bottom:1px;
}
.menu_body a {
    color:#555;
}
.menu_body a:hover {
    background:transparent;
}
.menu_body ul {
    list-style:none;
    padding:0;
    margin:0;
}
.menu_body ul > li {
    line-height:24px;
}
.menu_body ul > li a {
    display:inline-block;
    padding:0 5px;
    width:100%;
}
.menu_body ul > li a:hover, .menu_body ul > li a:focus {
    background:#E5E5E5;
}
.menu_body ul > li:not(:last-child) {
    border-bottom:1px solid #DDD;
}
.menu_body ul.list-inline > li {
    border-bottom:none;
}
.menu_body form {
    padding:15px 0;
}
.menu_body .form-horizontal .control-label {
    padding-top:0;
}
.menu_body .form-group {
    margin-bottom:0;
}
.menu_body .form-group + .form-group {
    margin-top:10px;
}
.custom-select select {
    display:none;
}
.custom-select .btn-default, .custom-select .btn-default:hover, .custom-select .btn-default:focus {
    background:#FFF;
}
.custom-select {
    width:100%;
}
.custom-select .dropdown-toggle {
    border-top-left-radius:4px !important;
    border-bottom-left-radius:4px !important;
}
.custom-select .dropdown-menu {
    width:100%;
    height:auto;
    max-height:200px;
    overflow-x:hidden;
}
.custom-select .option {
    display:inline-block;
    overflow:hidden;
    width:100%;
    text-align:left;
    float:left !important;
    border-right:3px solid transparent;
}
.custom-select .dropdown-menu > li {
    border-bottom:none !important;
}
.custom-select .dropdown-menu > li > a {
    padding:3px 5px;
    white-space:normal;
}
.custom-select .dropdown-menu > li.selected {
    background:#EEE;
}
#acordeon .menu_item .text:after {
    display:table-cell;
    font-family:'yucatan';
    content:"\e67e";
    vertical-align:middle;
    float:right;
}
#acordeon a.active .text:after {
    content:"\e6ca";
}
#acordeon ul.scroll {
    height:210px;
    overflow:hidden;
    position:relative;
    margin-right:-15px;
}
#acordeon ul.scroll > li {
    margin-right:15px;
}
#acordeon a.cabecera:before {
    font-family:'yucatan';
    content:"\e6b0";
    font-size:10px;
    color:#E77817;
    margin-right:5px;
    margin-left:-15px;
    vertical-align:top;
}
#derecha .alerta {
    width:100%;
}
#derecha .agenda_container {
    padding:10px;
}
.twitt_gobierno .contenido {
    position:relative;
    z-index:2;
    min-height:160px;
    padding:10px;
}
.twitt_gobierno:before {
    position:absolute;
    font-family:'yucatan';
    top:0;
    left:20px;
    font-size:160px;
    line-height:160px;
    content:"\e6d0";
    color:#DDD;
    z-index:1;
}
.avatar {
    width:100%;
    display:table;
    margin-bottom:10px;
}
.avatar .text {
    display:table-cell;
    vertical-align:middle;
    line-height:normal;
    width:100%;
}
.avatar .image {
    display:table-cell;
    position:relative;
    vertical-align:middle;
    max-width:50px;
}
.twitt_gobierno a, .twitt_gobierno a:hover {
    color:#1F3464;
    text-decoration:none;
}
.avatar a {
    font-size:16px;
    font-weight:bold;
}
@media (min-width:992px) {
    /* Derecha */
    #derecha {
        float:right;
    }
    #derecha .col-sm-10, #derecha .col-sm-2 {
        width:100%;
        float:none;
    }
    #derecha .control-label {
        text-align:left;
    }
    #derecha .col-sm-offset-2 {
        margin-left:0;
    }
}
@media (max-width:992px) {
    #playlist {
        width:auto;
        height:auto;
    }
    #map_canvas {
        width:100% !important;
    }
    /* Pie */
    #footer .grande {
        font-size:16px;
    }
    /* Derecha */
    #derecha {
        float:none;
    }
    .menu_sombra:after {
        height:0;
    }
    .lg_only {
        display:none !important;
    }
    .menu_lateral.top {
        margin-top:0;
    }
    .menu_title {
        text-align:left;
    }
    .menu_item .image {
        width:35px;
    }
    .menu_item .text {
        line-height:normal;
    }
    .menu_footer {
        text-align:left;
    }
    .menu_sombra {
        margin-bottom:15px;
    }
    .menu_sombra:after {
        -webkit-box-shadow:none;
        box-shadow:none;
    }
}
@media (max-width:768px) {
    /* Encabezado */
    .fondo_menu {
        background:#EEE;
    }
    .borde_menu {
        display:block;
    }
    #menu {
        display:none;
    }
    #menu.left li.m0 {
        display:none;
    }
    /* Pie */
    #emergencias .cell {
        text-align:center;
    }
    #emergencias .icono {
        display:block;
        padding:0 0 5px 0;
    }
    #pie .logo {
        display:none;
    }
    #pie .ligas {
        width:60%;
    }
    #pie .fondo_siguenos {
        width:40%;
    }
    #sm_footer {
        display:block;
    }
}
@media (max-width:640px) {
    .dos_columnas .col-xs-4, .dos_columnas .col-xs-8, .dos_columnas .col-xs-6 {
        width:100%;
    }
    .dos_columnas img {
        margin-bottom:20px;
    }
}
@media (max-width:560px) {
    .pag {
        width:50%;
    }
    /* Encabezado */
    .cabezal .logo {
        float:none;
    }
    .fondo_superior {
        display:none;
    }
    #menu.left li.m0 {
        display:block;
        line-height:24px;
    }
    .btn_buscar {
        width:100%;
        float:none;
        margin-top:0;
        margin-bottom:15px;
    }
}
@media (max-width:480px) {
    .dos_columnas .col-xs-3, .dos_columnas .col-xs-9 {
        width:100%;
    }
    .dos_columnas img {
        margin-bottom:20px;
    }
    .share .texto {
        display:none;
    }
}
@media (max-width:420px) {
    /* Tablas */
    .custom-table th, 
	.custom-table td,
    .custom-table tr { 
		display:block; 
	}
    .custom-table thead th + th, .custom-table thead tr.no-display {
        display:none;
    }
    .custom-table tr {
        padding:5px 0 !important;
    }
    .custom-table td, .custom-table th {
        padding:0 5px !important;
    }
    .custom-table .column-right, .custom-table .column-center {
        text-align:left;
    }
    .custom-table td[data-th]:not(:empty):before {
        content:attr(data-th);
        font-weight:bold;
        width:50%;
        display:inline-block;
    }
    .custom-table td:first-child:before {
        content:'';
        width:0;
    }
    /* Sala de prensa */
    .not {
        width:200px;
    }
    .foto_not {
        width:200px;
        height:133px;
    }
    .encabezado_not {
        background:transparent;
        filter:none;
        padding:5px;
        position:relative;
        min-height:auto;
    }
    .encabezado_not, .encabezado_not a, .encabezado_not a:hover {
        color:#999;
        font-weight:bold;
        text-decoration:none;
    }
    .encabezado_not a:hover {
        text-decoration:underline;
    }
    .texto_not {
        text-align:center;
        width:200px;
        height:auto;
    }
    .autor_not, .resumen_not {
        display:none;
    }
    /* Pie */
    #emergencias .cell {
        display:block;
        width:100%;
        text-align:left;
        padding:5px 0;
    }
    #emergencias .icono {
        display:inline-block;
        padding:0 5px 0 0;
    }
    #pie .ligas {
        display:table-footer-group;
        width:100%;
    }
    #pie .fondo_siguenos {
        display:table-header-group;
        width:100%;
    }
    #pie .siguenos li {
        display:inline-block;
        padding-right:5px;
    }
    #sm_footer .wrap {
        display:block;
        margin-left:0;
    }
}
@media (max-width:360px) {
    .pag {
        width:100%;
    }
    .alerta .desc {
        min-width:0;
    }
}
/* Fancybox */
.fancybox-close-small {
    top:0 !important;
    right:15px !important;
    outline:none !important;
}
.fancybox-close-small:after {
    font-size:35px !important;
    color:#aaa !important;
}
.fancybox-close-small:hover:after, .fancybox-close-small:focus:after {
    color:#555 !important;
    outline:none !important;
    background:transparent !important;
}
.iframe-sm .fancybox-content {
	width:600px !important;
}
.iframe-md .fancybox-content {
	width:800px !important;
}
.iframe-lg .fancybox-content {
	width:1024px !important;
}
.fancybox-container {
    font-family:'Panton' !important;
}
/* Vista de impresión */
.print_url {
    padding-top:5px;
    border-top:3px solid #DDD;
}
.print {
    display:none;
}
.iconPrint {
    position:absolute;
    top:6px;
    right:50px;
    z-index:1000;
}
@media print {
    .print {
        display:block;
    }
    .noprint {
        display:none !important;
    }
    @page {
        size:letter;
    }
    .logo {
        margin:15px 0;
        height:60px;
    }
    #titulo_pagina, #cuerpo {
        width:100%;
    }
    #pagina {
        border-top:2px solid #DDD;
        max-width:none;
        padding-top:15px;
    }
    .titulo_pagina {
        border-bottom:3px solid #DDD;
    }
    a[href]:after {
        content:none !important;
    }
    .btn-yuc {
        border:1px solid #AAA;
    }
    .seccion_pagina {
        padding:0;
    }
    .encabezado_not {
        padding:5px;
        position:relative;
        min-height:auto;
    }
    .encabezado_not, .encabezado_not a {
        color:#999;
        font-weight:bold;
        text-decoration:none;
        position:relative;
        padding:15px;
    }
    .texto_not {
        text-align:center;
        height:auto;
    }
    .texto_not, .not, .not2, ul.noticias {
        page-break-inside:avoid;
    }
    ul.noticias li {
        height:auto;
    }
    .col-xs-2 {
        float:left;
        width: 16.66666667%;
    }
    .col-xs-3 {
        float:left;
        width:25%;
    }
    .col-xs-4 {
        float:left;
        width:33.33333333%;
    }
    .col-xs-6 {
        float:left;
        width:50%;
    }
    .col-xs-8 {
        float:left;
        width:66.66666667%;
    }
    .col-xs-10 {
        float:left;
        width: 83.33333333%;
    }
    .col-sm-2 {
        float:left;
        width: 16.66666667% !important;
    }
    .col-sm-3 {
        float:left;
        width:25% !important;
    }
    .col-sm-4 {
        float:left;
        width:33.33333333% !important;
    }
    .col-sm-6 {
        float:left;
        width:50% !important;
    }
    .col-sm-8 {
        float:left;
        width:66.66666667% !important;
    }
    .col-sm-10 {
        float:left;
        width: 83.33333333% !important;
    }
    .pag.col-sm-3:nth-child(4n+1) {
        clear:both;
    }
    table.table-styled tr {
        border-bottom:1px solid #DDD;
    }
    table.table-styled thead tr {
        border-bottom:2px solid #DDD;
    }
    .procivy_azul {
        color:#39F !important;
    }
    .procivy_verde {
        color:#390 !important;
    }
    .procivy_amarilla, .peligro_bajo {
        color:#FC0 !important;
    }
    .procivy_naranja, .peligro_medio {
        color:#F90 !important;
    }
    .procivy_roja, .peligro_alto {
        color:#F00 !important;
    }
    .alerta_azul {
        border:1px solid #39F;
    }
    .alerta_verde {
        border:1px solid #390;
    }
    .alerta_amarilla, .peligro_bajo {
        border:1px solid #FC0;
    }
    .alerta_naranja, .peligro_medio {
        border:1px solid #F90;
    }
    .alerta_roja, .peligro_alto {
        border:1px solid #F00;
    }
    .alerta_sin {
        border:1px solid #AAA;
    }
}