@font-face {
  font-family: 'yucatan';
  src:  url('fonts/yucatanfa8f.eot?a7wo4c');
  src:  url('fonts/yucatanfa8f.eot?a7wo4c#iefix') format('embedded-opentype'),
    url('fonts/yucatanfa8f.ttf?a7wo4c') format('truetype'),
    url('fonts/yucatanfa8f.woff?a7wo4c') format('woff'),
    url('fonts/yucatanfa8f.svg?a7wo4c#yucatan') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-logo1:before {
  content: "\e64a";
}
.icon-escudo:before {
  content: "\e910";
}
.icon-mexico:before {
  content: "\e909";
}
.icon-yucatan:before {
  content: "\e674";
}
.icon-ascendente:before {
  content: "\e917";
}
.icon-descendente:before {
  content: "\e918";
}
.icon-liga:before {
  content: "\e6bc";
}
.icon-no_liga:before {
  content: "\e916";
}
.icon-undo:before {
  content: "\e967";
}
.icon-redo:before {
  content: "\e914";
}
.icon-th_grande:before {
  content: "\e90d";
}
.icon-th_chico:before {
  content: "\e90c";
}
.icon-ul:before {
  content: "\e6e1";
}
.icon-elipsis:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e6c1";
}
.icon-mas:before {
  content: "\e622";
}
.icon-menos:before {
  content: "\e6a7";
}
.icon-mas_cuadrado:before {
  content: "\e6a2";
}
.icon-menos_cuadrado:before {
  content: "\e6a1";
}
.icon-blank:before {
  content: "\e6ad";
}
.icon-importar:before {
  content: "\e6aa";
}
.icon-descargar:before {
  content: "\e696";
}
.icon-palomita:before {
  content: "\e6ba";
}
.icon-tacha:before {
  content: "\e6bf";
}
.icon-prohibido:before {
  content: "\e6c5";
}
.icon-filtro:before {
  content: "\e905";
}
.icon-lapiz:before {
  content: "\e6c0";
}
.icon-borrador:before {
  content: "\e60a";
}
.icon-bote_basura:before {
  content: "\e681";
}
.icon-candado_abierto:before {
  content: "\e685";
}
.icon-candado_cerrado:before {
  content: "\e687";
}
.icon-carpeta_abierta:before {
  content: "\e688";
}
.icon-carpeta_cerrada:before {
  content: "\e689";
}
.icon-checkbox:before {
  content: "\e698";
}
.icon-checkbox_checked:before {
  content: "\e69f";
}
.icon-radio:before {
  content: "\e686";
}
.icon-radio_checked:before {
  content: "\e623";
}
.icon-autorizar:before {
  content: "\e69e";
}
.icon-rechazar:before {
  content: "\e69d";
}
.icon-clip:before {
  content: "\e6a5";
}
.icon-engrane:before {
  content: "\e6ae";
}
.icon-rompecabezas1:before {
  content: "\e664";
}
.icon-estrella:before {
  content: "\e6b0";
}
.icon-lupa:before {
  content: "\e6be";
}
.icon-llave:before {
  content: "\e6bd";
}
.icon-click:before {
  content: "\e646";
}
.icon-advertencia:before {
  content: "\e677";
}
.icon-alerta:before {
  content: "\e67d";
}
.icon-informacion:before {
  content: "\e6b9";
}
.icon-pregunta:before {
  content: "\e6c7";
}
.icon-bajar1:before {
  content: "\e67e";
}
.icon-subir1:before {
  content: "\e6ca";
}
.icon-ant1:before {
  content: "\e6a8";
}
.icon-sig1:before {
  content: "\e6a9";
}
.icon-ini:before {
  content: "\e692";
}
.icon-fin:before {
  content: "\e6a3";
}
.icon-archivo_texto:before {
  content: "\e699";
}
.icon-archivo_copia:before {
  content: "\e904";
}
.icon-copiar:before {
  content: "\e907";
}
.icon-archivos:before {
  content: "\e091";
}
.icon-presentacion:before {
  content: "\e90e";
}
.icon-certificado:before {
  content: "\e61b";
}
.icon-curriculum:before {
  content: "\e621";
}
.icon-firma:before {
  content: "\e62a";
}
.icon-lista_check:before {
  content: "\e642";
}
.icon-lupa_reporte1:before {
  content: "\e64c";
}
.icon-documento_mano:before {
  content: "\e651";
}
.icon-documentos:before {
  content: "\e625";
}
.icon-usuario:before {
  content: "\e6d1";
}
.icon-ciudadanos:before {
  content: "\e61f";
}
.icon-solicitud:before {
  content: "\e919";
}
.icon-grupo_personas:before {
  content: "\e636";
}
.icon-inicio:before {
  content: "\e001";
}
.icon-email:before {
  content: "\e678";
}
.icon-sobre:before {
  content: "\e915";
}
.icon-directorio_telefonico:before {
  content: "\e675";
}
.icon-telefono:before {
  content: "\e66b";
}
.icon-organigrama:before {
  content: "\f0e8";
}
.icon-chat:before {
  content: "\f086";
}
.icon-calendario1:before {
  content: "\e684";
}
.icon-calendario:before {
  content: "\e614";
}
.icon-todo_el_dia:before {
  content: "\f1da";
}
.icon-servicios:before {
  content: "\e667";
}
.icon-red1:before {
  content: "\e67a";
}
.icon-w3:before {
  content: "\e673";
}
.icon-noticias:before {
  content: "\e00c";
}
.icon-megafono:before {
  content: "\e05f";
}
.icon-red2:before {
  content: "\e906";
}
.icon-red:before {
  content: "\e663";
}
.icon-mapa:before {
  content: "\e679";
}
.icon-celular:before {
  content: "\e695";
}
.icon-foto:before {
  content: "\e902";
}
.icon-microfono:before {
  content: "\e6c2";
}
.icon-audio:before {
  content: "\e610";
}
.icon-video:before {
  content: "\e670";
}
.icon-iniciar:before {
  content: "\e6c6";
}
.icon-pausar:before {
  content: "\e6cd";
}
.icon-detener:before {
  content: "\e6d4";
}
.icon-impresora:before {
  content: "\e6b8";
}
.icon-vineta:before {
  content: "\e6ac";
}
.icon-fuego:before {
  content: "\e23f";
}
.icon-avion:before {
  content: "\e25a";
}
.icon-portafolios:before {
  content: "\f0b1";
}
.icon-vehiculo:before {
  content: "\e66e";
}
.icon-policia:before {
  content: "\e660";
}
.icon-saludo_manos:before {
  content: "\e666";
}
.icon-reciclar:before {
  content: "\f1b8";
}
.icon-teatro:before {
  content: "\e66a";
}
.icon-trabajador:before {
  content: "\e66c";
}
.icon-martillo:before {
  content: "\e602";
}
.icon-balanza:before {
  content: "\f0d8";
}
.icon-ambulancia:before {
  content: "\e60d";
}
.icon-atomo:before {
  content: "\e60e";
}
.icon-salud:before {
  content: "\e665";
}
.icon-programas_sociales:before {
  content: "\e62e";
}
.icon-atril:before {
  content: "\e60f";
}
.icon-maiz:before {
  content: "\e64d";
}
.icon-gota:before {
  content: "\e62d";
}
.icon-ssp:before {
  content: "\e6c9";
}
.icon-cruz_roja:before {
  content: "\e620";
}
.icon-grafica:before {
  content: "\e62f";
}
.icon-ciclo:before {
  content: "\e913";
}
.icon-navegador:before {
  content: "\e608";
}
.icon-cono:before {
  content: "\e6a6";
}
.icon-escudo1:before {
  content: "\e627";
}
.icon-calculadora:before {
  content: "\e676";
}
.icon-bloque:before {
  content: "\e912";
}
.icon-monedas:before {
  content: "\e90b";
}
.icon-billetes1:before {
  content: "\e612";
}
.icon-bolsa_dinero:before {
  content: "\e613";
}
.icon-alcancia:before {
  content: "\e60c";
}
.icon-mano_bolsa:before {
  content: "\e64e";
}
.icon-pesos:before {
  content: "\e65e";
}
.icon-porcentaje:before {
  content: "\e661";
}
.icon-libro:before {
  content: "\e63e";
}
.icon-libro1:before {
  content: "\e63f";
}
.icon-libro2:before {
  content: "\e071";
}
.icon-libros:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e6b1";
}
.icon-twitter:before {
  content: "\e6d0";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-youtube:before {
  content: "\e6d2";
}
.icon-youtube1:before {
  content: "\e6d3";
}
.icon-grafica7:before {
  content: "\e6b4";
}
.icon-grafica2:before {
  content: "\e632";
}
.icon-grafica11:before {
  content: "\e630";
}
.icon-ciclon:before {
  content: "\e61d";
}
.icon-ciclon_acercamiento:before {
  content: "\e618";
}
.icon-ciclon_alejamiento:before {
  content: "\e61e";
}
.icon-casa_maya:before {
  content: "\e694";
}
.icon-jarana:before {
  content: "\e609";
}
.icon-chichen:before {
  content: "\e6a0";
}
.icon-hacienda:before {
  content: "\e638";
}
.icon-iglesia:before {
  content: "\e697";
}
.icon-agua:before {
  content: "\e60b";
}
.icon-cenote:before {
  content: "\e61a";
}
.icon-gruta:before {
  content: "\e637";
}
.icon-palmera:before {
  content: "\e653";
}
.icon-tbl1:before {
  content: "\e911";
}
.icon-txt1:before {
  content: "\e908";
}
.icon-email1:before {
  content: "\e900";
}
.icon-impresora1:before {
  content: "\e901";
}
.icon-whatsapp:before {
  content: "\e800";
}
.icon-pdf1:before {
  content: "\e6ab";
}
.icon-pdf_bajar:before {
  content: "\e669";
}
.icon-doc1:before {
  content: "\e68f";
}
.icon-xls1:before {
  content: "\e690";
}
.icon-liga1:before {
  content: "\e693";
}
.icon-facebook1:before {
  content: "\e691";
}
.icon-twitter1:before {
  content: "\e68d";
}
.icon-img1:before {
  content: "\e68c";
}
.icon-zip1:before {
  content: "\e63c";
}
.icon-perfil_adultos:before {
  content: "\e603";
}
.icon-perfil_hombres:before {
  content: "\e604";
}
.icon-perfil_mujeres:before {
  content: "\e65b";
}
.icon-perfil_agricultor:before {
  content: "\e65a";
}
.icon-perfil_rural:before {
  content: "\e903";
}
.icon-estudiante:before {
  content: "\e628";
}
.icon-deporte:before {
  content: "\e62c";
}
.icon-perfil_adultos_mayores:before {
  content: "\e654";
}
.icon-perfil_familia:before {
  content: "\e657";
}
.icon-perfil_ninios:before {
  content: "\e65c";
}
.icon-perfil_jovenes:before {
  content: "\e659";
}
.icon-perfil_turista:before {
  content: "\e65d";
}
.icon-perfil_discapacitados:before {
  content: "\e655";
}
.icon-perfil_empresarios:before {
  content: "\e656";
}
